@font-face {
    font-family: 'DejaVu Sans Condensed Bold Oblique';
    src: url('../fonts/dejavu-sans-condensed-bold-oblique-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dejavu-sans-condensed-bold-oblique-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dejavu-sans-condensed-bold-oblique-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dejavu-sans-condensed-bold-oblique-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/dejavu-sans-condensed-bold-oblique-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dejavu-sans-condensed-bold-oblique-webfont.svg#dejavu_sans_condensedbold_oblique') format('svg'); /* Legacy iOS */
}